@mixin centered {
    display: block;
    margin-left:auto;
    margin-right: auto;
}

@mixin button {
        margin-top: 15px;
        width: 100%;
        color: $white;
        border: none;
        padding: 10px 0;
        text-transform: uppercase;
        border-radius: 5px;
        transition: 0.5s ease-in;
}

@mixin input {

        display: block;
        width: 94%;
        margin: 10px auto 0;
        border: none;
        padding: 10px;
        border-bottom: 5px solid $color-primary;
}

@mixin hidden {

    position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
}